body{
    background-image: url("achtergrond.png");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
}
#class{
    left:50%;
    top:50%;
    margin-left: auto;
}
button{border:0px;padding: 5px;}
#startButton{
    color: black;
    background-color: rgb(255, 0, 0);
}