body{
    background-image: url("achtergrond.png");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}
.centerbox{
    text-align: center;
}
#logo{
    width: 600px;
    margin: 0px auto;
}

