body{
    background-image: url("achtergrond.png");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}
.centerbox{
    margin-top: 40px;
    text-align: center;
}
#logo{
    width: 600px;
    margin: 0px auto;
}
.button{
    font-size: 20px;
    background-color: rgb(0, 119, 255);
    width: fit-content;
    cursor:pointer;
    border-radius: 4px;
    margin: 0 auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    

}
#openAttractie{
    padding: 10px;
}
.button a{
    text-decoration: none;
    color:black;

}
.button:hover{
    background-color: rgb(56, 149, 255);
}

.speelVeld {
    position: relative;
}
#speelveld{
    margin:100 auto;
    width: 500px;
    height: 500px ;
    background-color:rgb(255, 255, 255);
}

.wachtrij div{
    position: absolute;
    background-color: rgb(255, 102, 0);
    /*border: black solid 2px;*/
}
.mensen img{
    position: relative;
}
::-webkit-scrollbar{ 
    width: 0px
  }